[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
libsass = "*"
django-sass-processor = "*"
pillow = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pint = "*"
boto3 = "1.20.0"
gunicorn = "*"
django-storages = "*"
django-heroku = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.10"
