// Variables
$card-radius: 20px;

// Ingredient List
.ingredient-list {

    // Flex settings
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;

    // Alignment of content
    text-align: center;

    // Padding and margin
    margin: 3% 0;

    .ingredient-element {

        // Dimensions
        min-width: 200px;
        max-width: 350px;
        border-radius: $card-radius;

        // Color
        background-color: $secondary-color;
        box-shadow: 2px 2px 10px 3px rgb(207, 207, 207);
        color: set-text-color($secondary-color);

        // Margin and padding
        padding: 2rem 2rem;
        margin: 3%;

        // Title
        h2 {
            margin-bottom: -0.3rem;
        }

        // Image
        .ingredient-element__img {

            background-color: $neutral-color;
            border-radius: $card-radius $card-radius 0 0;
            margin: -8% -8% 25px -8%;

            small {
                position: absolute;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 10px 15px;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
            }

            img {
                aspect-ratio: 1;
                width: 70%;
                border-radius: 100%;
                box-shadow: 2px 2px 10px 3px rgba(46, 46, 46, 0.541);
                margin: 20px;
            }
    
        }

        // Delete and edit buttons
        .ingredient-element__btn {

            // Flex settings
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            // Space on top of both card buttons
            margin-top: 30px;

            // Link
            a { 
                // Color and dimensions
                background-color: $primary-color;
                border-radius: 100%;
                height: 40px;
                width: 40px;

                // Space between buttons
                margin-left: 15px;

                @include transition-ease;
                &:hover {
                    background-color: rgba(46, 46, 46, 0.836); 
                }

                // Center icons inside circles vertically
                i { margin-top: 11px; }
            }

            // Disable hover coloring on icons
            a:hover {
                color: set-text-color($primary-color);
            }

        }
        
        // Description
        p {
            margin-top: 15px;
            text-align: justify;
        }

        // Separator line
        hr {
            height: 2px;
        }

    }
    
}