@import 'config';
@import 'navbar';
@import 'footer';
@import 'ingredient_card';
@import 'recipe_card';
@import 'about';
@import 'recipe_detail';
@import 'profile';

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

body {
    background-color: $background-color;
    color: set-text-color($background-color);
}

.content-title {
    margin-bottom: 40px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    
}